.ui-button.ui-button--remove {
	background-color: #6d7a8a;
}

.ui-button.ui-button--processed {
	background-color: #ca5e5e;
}
.ui-button.ui-button--pending {
	background-color: #3eb998;
}
.ui-button--pop.ui-button--cancel {
	background-color: #1c2836;
}
.ui-button.ui-button--remove:hover,
.ui-button.ui-button--processed:hover,
.ui-button.ui-button--pending:hover,
.ui-button--pop.ui-button--cancel:hover {
	background-color: #e83561;
}
.order-details {
	font-style: italic;
	list-style: none;
	padding: 0;
}
.order-details__sku {
	font-style: normal;
	font-weight: bold;
}
.order-details__qty {
	font-style: normal;
}