.ui-button.ui-button--processed,
.ui-button--processed .ui-button.ui-button--processed-text {
	background-color: #ca5e5e;
}
.ui-button--pending .ui-button,
.ui-button--processed .ui-button {
	padding: 0;
}
.order-details {
	font-style: italic;
	list-style: none;
	padding: 0;
}
.order-details__sku {
	font-style: normal;
	font-weight: bold;
}
.order-details__qty {
	/*color: #777676;*/
	font-style: normal;
}